@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
	.col-mob-12 {width: 100%;}
	.col-mob-6 {width: 50%;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 991px) {
	.container {width: 680px;}
}