html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {height: 100%;}

body {
	background: #fff;
	font-size: 100%;
	font-family: "ALSSchlangesans", Arial, Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:active , a:focus {
	outline: 0;
	text-decoration: none;
}

a:hover {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

* {
	outline: none;
}

strong {
	font-weight: 600;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.noscroll {
	overflow: hidden;
}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.container {
	position: relative;
	padding-left: 8px;
	padding-right: 8px;
}

.row {
	margin-left: -8px;
	margin-right: -8px;
}

.row [class*="col-"] {
	padding-left: 8px;
	padding-right: 8px;
}

/* Header Begin */
#header {
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.header_inner {
	height: 75px;
}

.logo {
	float: left;
	line-height: 75px;
}

.btn_login {
	float: right;
	height: 36px;
	margin-top: 21px;
	padding-right: 43px;
	background: url(../images/icon/icon-user.svg) no-repeat right center;
	background-size: 36px;
}

.btn_login span {
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 36px;
	color: #333132;
	text-transform: uppercase;
	transition: color 600ms ease;
}

.btn_login:hover span {
	color: #C52E51;
}

.menu {
	height: 40px;
	background: #333132;
}

.menu_inner {
	display: flex;
	justify-content: space-around;
}

.menu_inner a {
	padding: 0 50px;
	font-size: 17px;
	font-weight: 400;
	line-height: 40px;
	color: #fff;
	text-align: center;
	transition: color 600ms ease;
}

.menu_inner a.active {
	background: rgba(255,255,255,0.06);
	color: #C52E51;
}

.menu_inner a:hover {
	color: #C52E51;
}
/* Header End */

/* Wrapper Begin */
#wrapper {
	padding: 15px 0;
}
/* Wrapper End */

/* CategoryBoxs Begin */
.category_boxs {
	padding: 10px 0;
}

.category_boxs h1.title {
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: #333132;
	text-align: center;
	text-transform: uppercase;
}

.category_boxs .box {
	margin-bottom: 25px;
}

.category_boxs .box figure img {
	width: 100%;
}

.category_boxs .box span.desc {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	color: #333132;
	text-align: center;
}

.category_boxs .box a.a_btn {
	display: block;
	width: 140px;
	height: 30px;
	margin: 10px auto 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #C52E51;
	text-align: center;
	line-height: 26px;
	border: 1px solid #C52E51;
	transition: 500ms ease;
}

.category_boxs .box a.a_btn svg {
	vertical-align: middle;
}

.category_boxs .box a.a_btn:hover {
	background: #C52E51;
	color: #fff;
}

.category_boxs .box a.a_btn:hover svg mask,
.category_boxs .box a.a_btn:hover svg path,
.category_boxs .box a.a_btn:hover svg polygon {
	fill: #fff;
}
/* CategoryBoxs End */

/* Highlight Begin */
.highlight {
	position: relative;
	padding: 15px 0;
	background: #333132;
}

.highlight h1.title {
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.highlight .box {
	margin-bottom: 5px;
}

.highlight .box figure {
	display: flex;
	height: 102px;
	padding: 5px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url(../images/bg/box_bg.png);
}

.highlight .box figure span {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
}

.highlight .box a.a_btn {
	display: block;
	width: 140px;
	height: 30px;
	margin: 10px auto 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: center;
	line-height: 26px;
	border: 1px solid #fff;
	transition: 500ms ease;
}

.highlight .box a.a_btn svg {
	vertical-align: middle;
}

.highlight .box a.a_btn:hover {
	background: #fff;
	color: #C52E51;
}

.highlight .box a.a_btn svg mask,
.highlight .box a.a_btn svg path,
.highlight .box a.a_btn svg polygon {
	fill: #fff;
}

.highlight .box a.a_btn:hover svg mask,
.highlight .box a.a_btn:hover svg path,
.highlight .box a.a_btn:hover svg polygon {
	fill: #C52E51;
}
/* Highlight End */

/* Footer Begin */
#footer {
	min-height: 30px;
	padding: 8px 0;
	background: #666;
}

.footer_menu {
	display: flex;
	justify-content: space-between;
}

.footer_menu a {
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	transition: color 600ms ease;
}

.footer_menu a:hover {
	color: #C52E51;
}
/* Footer End */

/* LoginPopup Begin */
.login_popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.login_popup.show {
	opacity: 1;
	visibility: visible;
}

.login_popup .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%,-50%) scale(0.8,0.8);
	width: 306px;
	overflow: hidden;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	border-radius: 3px;
	transition: 0.5s ease;
}

.login_popup .inner.show {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1,1);
}

.login_popup .inner:before {
	content: "";
	display: block;
	width: 100%;
	height: 33px;
	background: #D43157;
}

.login_popup .inner span.close {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../images/icon/icon-close.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	top: 8px;
	right: 11px;
	z-index: 5;
	opacity: 1;
}

.login_popup .inner .body {
	padding: 15px 25px;
}

.login_popup .inner .body span.head_text {
	display: block;
	margin-bottom: 15px;
	font-size: 19px;
	font-weight: 400;
	line-height: 1;
	color: #333132;
	text-transform: uppercase;
	text-align: center;
}

.login_popup .inner .body form {
	padding: 0 11px;
}

.login_popup .inner .body .ipt_style {
	display: block;
	width: 100%;
	height: 44px;
	padding: 0 20px;
	font-size: 19px;
	font-weight: 400;
	line-height: 1;
	color: #6D6D6D;
	background: #E8E8E8;
	border: 1px solid #fff;
	border-radius: 6px;
	box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.5);
}

.login_popup .inner .body .ipt_style.small {
	width: 110px;
	margin: 0 auto;
}

.login_popup .inner .body input[type="button"] {
	display: block;
	width: 100%;
	height: 44px;
	margin-top: 13px;
	font-size: 17px;
	font-weight: 400;
	line-height: 1;
	color: #C52E51;
	border: 1px solid #C52E51;
	transition: 500ms ease;
}

.login_popup .inner .body input[type="button"]:hover {
	background: #C52E51;
	color: #fff;
}

.login_popup .inner .body .desc {
	margin-top: 13px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
	color: #333132;
	text-align: center;
}

.login_popup .inner .body .desc p {
	margin: 0;
}

.login_popup .inner .body .desc p a {
	font-weight: 700;
	color: #333132;
	transition: color 500ms ease;
}

.login_popup .inner .body .desc p a:hover {
	color: #C52E51;
}
/* LoginPopup End */

/* CategoryList Begin */
.category_list {
	margin-top: 15px;
	padding-bottom: 20px;
}

.category_list .block {
	margin-bottom: 25px;
}

.category_list .block figure {
	overflow: hidden;
	border-radius: 8px;
}

.category_list .block figure img {
	width: 100%;
}

.category_list .block h2 {
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #C52E51;
}

.category_list .block h2 a {
	color: #C52E51;
}
/* CategoryList End */

/* OwlArrows Begin */
#arrow_wrapper {
	position: relative;
	display: flex;
	justify-content: center;
}

#arrow_wrapper .inner {
	position: relative;
	display: inline-flex;
	padding: 0 26px;
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 0;
	z-index: 30;
	width: 6px;
	height: 10px;
	cursor: pointer;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center;
	transition: 500ms linear;
}

.owl-prev {background-image: url(../images/arrow/arrow-left.svg); left: 0;}
.owl-next {background-image: url(../images/arrow/arrow-right.svg); right: 0;}

.answer_block .owl-prev,
.answer_block .owl-next {
	width: 16px;
	height: 28px;
	top: 50%;
	margin-top: -14px;
}

.answer_block .owl-prev {background-image: url(../images/arrow/arrow-red-left.svg); left: -26px}
.answer_block .owl-next {background-image: url(../images/arrow/arrow-red-right.svg); right: -26px;}

.owl-prev.disabled,.owl-next.disabled {
	opacity: 0.4;
}

.owl-dot {
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	cursor: pointer;
	border: 1px solid #666;
	border-radius: 50%;
	transition: 500ms ease;
}

.owl-dot:hover,
.owl-dot.active {
	background: #666;
}

.owl-dot:last-child {
	margin: 0;
}

.answer_block .owl-dot {
	border-color: #EEC0CA;
}

.answer_block .owl-dot:hover,
.answer_block .owl-dot.active {
	background: #C52E51;
	border-color: #C52E51;
}

.answer_block .owldots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	z-index: 10;
	display: flex;
	margin-top: 25px;
	justify-content: center;
}
/* OwlArrows End */

/* QuestionPage Begin */
.question_page {
	padding-bottom: 30px;
}

.question {
	display: flex;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	color: #C52E51;
	justify-content: center;
	align-items: center;
}

.question img {
	margin-right: 5px;
}

.answer_block {
	position: relative;
	width: 324px;
	min-height: 235px;
	margin: 40px auto 0;
	padding: 10px;
	border: 1px solid #EEC0CA;
	border-radius: 8px;
	box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
}

.answer_block .head {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;
}

.answer_block .head span.order {
	flex-grow: 28px;
	display: block;
	width: 28px;
	height: 28px;
	margin-right: 15px;
	font-size: 17px;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background: #C52E51;
	border-radius: 50%;
}

.answer_block .head span.txt {
	flex: 1 1 45px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	color: #333132;
}

.answer_list {
	margin: 0;
	padding: 15px 0 0 45px;
}

.answer_list li {
	margin-bottom: 20px;
}

.answer_list li:last-child {
	margin: 0;
}

.answer_list input[type=radio].css-checkbox + label.css-label {
	min-height: 20px;
	margin: 0 40px 0 0;
	padding-left: 30px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #4D4D4D;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 20px;
	cursor: pointer;
}

.answer_list input[type=radio].css-checkbox + label.css-label:last-child {margin: 0;}
.answer_list input[type=radio].css-checkbox:checked + label.css-label {background-image:url(../images/icon/radiobox-on.svg);}
.answer_list label.css-label {background-image:url(../images/icon/radiobox-off.svg);}
/* QuestionPage End */