/* Regular */
@font-face {
	font-family: 'ALSSchlangesans';
	src: url('ALSSchlangesans.eot?#iefix') format('embedded-opentype'),
		url('ALSSchlangesans.woff') format('woff'),
		url('ALSSchlangesans.ttf')  format('truetype'),
		url('ALSSchlangesans.svg#ALSSchlangesans') format('svg');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
	font-family: 'ALSSchlangesans';
	src: url('ALSSchlangesans-Bold.eot?#iefix') format('embedded-opentype'),
		url('ALSSchlangesans-Bold.woff') format('woff'),
		url('ALSSchlangesans-Bold.ttf')  format('truetype'),
		url('ALSSchlangesans-Bold.svg#ALSSchlangesans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}